
header img, header ul, header li{
  display: inline;
}
header li{
  margin: 0 15px 0 15px;
}
main{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
}
nav{
  
  width: 100%;
  text-align: center;
}
header{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}
img{
  padding: 15px;
}
div img{
  display:inline-block;
}
header img{
  float: left;
  margin-left: 45px;
}
header ul{
  float: right;
  margin-top: 40px;
  margin-right: 37%;
}
#div2{
  display: inline;
  text-align: center;
  margin-left: 10px;

}
#div2 img{
  float: left;
  display: inline;
  margin-left: 72px;

}
div p{
  float: right;
  overflow: scroll;
  margin: 30px 86px 0 0px;
  width: 460px;
  height: 350px;
}
#co3{
  display: inline;
}
input{
  margin: 15px 30px 0 15px;
}
input:hover{
  background-color: blue;
}
footer{
  margin-left: auto;
  margin-right: auto;
  width: 73%;
  background-color: #ddd;
  margin-top:30px ;
  height: 70px;
  margin-bottom: 30px;
}